body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// login.jsx
.login-head {
    display: flex;
    height: 200px;
    background-image: -webkit-linear-gradient(left,#6ab1ab,#8fc0a8);
    background-image: linear-gradient(
90deg
,#6ab1ab,#8fc0a8);
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    img { 
        width: 70px;
        height: 70px;
    }
    span {
        font-size: 24px;
        color: #ffffff;
        padding-left: 10px;
    }
}

